.sidebar{
    flex:1;
    border-right: .5px solid lightgray;
    height: 100vh;
    background-color: white;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
        .logo{
            font-size: 20px;
            font-weight: 600;
            color: black;
        }
    }

    .center{
        padding-left: 10px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            .link,li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                text-decoration: none;

                &:hover{
                    background-color: lightblue;
                }
                .icon{
                    font-size: 18px;
                    color: rgb(207, 35, 115);
                }
                span{
                    font-size: 15px;
                    font-weight: 500;
                    color: black;
                    margin-left: 10px;
                }
            }
            .title{
                font-size: 13px;
                font-weight: 500;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
        .colorOptions{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid purple;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: black;
            }
           
        }
    }
}